<div class="flexcol reactionRow" data-id="{{id}}">
  <div class="iconPreview">
    {{reactionPreview this}}
  </div>
  <div class="reactionName">
    <span
      for="reaction-{{id}}-title"
      title="This reaction's name."
    >{{title}}</span>
  </div>
  <button class="reactionEdit" data-id="{{id}}"><i
      class="fas fa-edit"
    ></i></button>
</div>