{{#if isGM}}
  <div class="playerReactions">
    {{#each groupedResponses}}
    <div class="flexcol user">
      <header style="background-color: {{user.color}}">{{user.name}}</header>
      <div class="responses">
        {{#each (last_x responses 20)}}
          {{reactionPreview this}}
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
{{else}}
  <div class="reactionButtons flexrow">
    {{#each reactions}}
        <button class="reaction" data-id="{{id}}"><i class="{{style}} fa-{{icon}}"
                style="color: {{primaryColor}}; --fa-primary-color: {{primaryColor}}; --fa-secondary-color: {{secondaryColor}}; {{#if secondaryColor}}--fa-secondary-opacity: 1{{/if}}"></i></button>
    {{/each}}
</div>
{{/if}}