<form class="reactionEditor {{type}}" data-id="{{id}}">
  <div
    class="reactionPreview"
    style="width: {{maxWidth}}px; height: {{maxHeight}}px; "
  >
    {{reactionPreview this}}
  </div>
  <input type="hidden" value="{{id}}" name="id" />
  <input type="hidden" value="{{speed}}" name="speed" />
  <input type="hidden" value="{{enabled}}" name="enabled" />
  <div class="formgroup">
    <div class="">
      <label for="reaction-{{id}}-title" title="This reaction's name.">Name
        <i class="fas fa-circle-info"></i></label>
      <input
        type="text"
        id="reaction-{{id}}-title"
        name="title"
        value="{{title}}"
      />
    </div>
    <div class="">
      <label
        for="reaction-{{id}}-effect"
        title="How you'd like this reaction animated. Shutdown is best used for an x-card sort of effect."
      >Effect <i class="fas fa-circle-info"></i></label>
      <select id="reaction-{{id}}-effect" value="{{effect}}" name="effect">
        {{selectOptions meta.effectOptions selected=effect}}
      </select>
    </div>
    <div class="">
      <label
        for="reaction-{{id}}-directional"
        title="Should the rotation of this icon change depending on the direction it's moving? Only applicable to certain icons/effects."
      >Directional <i class="fas fa-circle-info"></i></label>
      <input
        type="checkbox"
        id="reaction-{{id}}-directional"
        {{checked directional}}
        name="directional"
      />
    </div>
    <div class="">
      <label
        for="reaction-{{id}}-type"
        title="What type of image should this reaction be? Upload/use your own image, or pick from the built-in FontAwesome collection?"
      >Type
        <i class="fas fa-circle-info"></i></label><br />
      <select id="reaction-{{id}}-type" value="{{type}}" name="type">
        {{selectOptions meta.typeOptions selected=type}}
      </select>
    </div>
  </div>
  <div class="fileOptions formgroup">
    <div class="pathPicker">
      <label
        for="reaction-{{id}}-path"
        title="Select an image to use for this icon. SVG images will be colored with the reaction's primary color. Theoretically."
      >Path
        <i class="fas fa-circle-info"></i></label><br />
      <div class="inputWrapper">
        <file-picker
          type="any"
          target="path"
          id="reaction-{{id}}-path"
          value="{{path}}"
          name="path"
          class="path"
        />
      </div>
    </div>
    <div class="">
      <label
        for="reaction-{{id}}-max-width"
        title="Maximum width in pixels for an image reaction"
      >Max Width
        <i class="fas fa-circle-info"></i></label>
      <input
        type="text"
        id="reaction-{{id}}-max-width"
        name="maxWidth"
        value="{{maxWidth}}"
      />
    </div>
    <div class="">
      <label
        for="reaction-{{id}}-max-height"
        title="Maximum height in pixels for an image reaction"
      >Max Width
        <i class="fas fa-circle-info"></i></label>
      <input
        type="text"
        id="reaction-{{id}}-max-height"
        name="maxHeight"
        value="{{maxHeight}}"
      />
    </div>
  </div>
  <div class="iconOptions formgroup">
    <div class="">
      <label
        for="reaction-{{id}}-icon"
        title="The Font Awesome ID of the icon you'd like to use, without the leading 'fa-'. Check fontawesome.com for a complete searchable list."
      >Icon <i class="fas fa-circle-info"></i></label>
      <input
        type="text"
        name="icon"
        id="reaction-{{id}}-icon"
        value="{{icon}}"
      />
    </div>
    <div class="">
      <label
        for="reaction-{{id}}-fontSize"
        title="The font size you'd like to use for your icons in pixels. Default is 48"
      >Icon Size <i class="fas fa-circle-info"></i></label>
      <input
        type="text"
        name="fontSize"
        id="reaction-{{id}}-fontSize"
        value="{{fontSize}}"
      />
    </div>
    <div class="">
      <label
        for="reaction-{{id}}-style"
        title="This lets you choose which Font Awesome icon style to use."
      >Icon Style <i class="fas fa-circle-info"></i></label>
      <select id="reaction-{{id}}-style" value="{{style}}" name="style">
        {{selectOptions meta.styleOptions selected=style}}
      </select>
    </div>
  </div>
  <div class="formgroup iconOptions colors">
    <div class="primaryColor">
      <label
        for="reaction-{{id}}-primary-color"
        title="If you use the 'solid' style, this will just be the icon color."
      >Primary Color <i class="fas fa-circle-info"></i></label>
      <div class="inputWrapper">
        <color-picker
          name="primaryColor"
          class="primaryColor"
          value="{{primaryColor}}"
          default="#000000"
        />
      </div>
    </div>
    <div class="nogrow">
      <label>&nbsp;</label>
      <button class="colorSwitch"><i class="fas fa-right-left"></i></button>
    </div>
    <div class="secondaryColor">
      <label
        for="reaction-{{id}}-secondary-color"
        title="Only applies when using 'Duotone' style icons, or the 'Shutdown' effect (this will be the background overlay color)."
      >Secondary Color <i class="fas fa-circle-info"></i></label>
      <div class="inputWrapper">
        <color-picker
          name="secondaryColor"
          class="secondaryColor"
          value="{{secondaryColor}}"
          default="#000000"
        /></div>
    </div>
  </div>
</form>