{{#if isGM}}
  <div class="playerReactions">
    {{#if groupedResponses.length}}
      {{#each groupedResponses}}
      <div class="user">
        <div class="userAvatar">
          <img src="{{user.image}}" />
        </div>
        <div class="userName" style="background-color: {{user.color}}">{{user.name}}</div>
        <div class="responses">
          {{#each (last_x responses 1)}}
            {{reactionPreview this}}
          {{/each}}
        </div>
      </div>
      {{/each}}
    {{else}}
      <h3>No other players are connected right now.</h3>
    {{/if}}
  </div>
{{else}}
  <div class="reactionButtons flexrow" tabindex="0">
    {{#each reactions}}
        <button class="reaction" data-id="{{id}}"><i class="{{style}} fa-{{icon}}"
                style="color: {{primaryColor}}; --fa-primary-color: {{primaryColor}}; --fa-secondary-color: {{secondaryColor}}; {{#if secondaryColor}}--fa-secondary-opacity: 1{{/if}}"></i><span class="buttonshortcut">{{add id 1}}</span></button>
    {{/each}}
</div>
{{/if}}